In [3]:
import numpy as np
import pandas as pd

In [22]:
label = pd.read_excel("data_preprocess/label/KETI-2017-SL-Annotation-v2_1.xlsx")
label = label[["번호", "파일명", "한국어"]]
label.sort_values("번호", ascending=True)

          번호                     파일명                          한국어
10460      1  KETI_SL_0000000001.MOV                            0
10440      2  KETI_SL_0000000002.MOV                            1
10420      3  KETI_SL_0000000003.MOV                            2
10399      4  KETI_SL_0000000004.MOV                            3
10379      5  KETI_SL_0000000005.MOV                            4
...      ...                     ...                          ...
319    10476  KETI_SL_0000010476.MTS            허리가 아파서 일어날 수 없어요
3310   10477  KETI_SL_0000010477.MTS  어떤 사람이 칼에 찔려서 피를 많이 흘리고 있어요
3899   10478  KETI_SL_0000010478.MTS            아이가 말벌에 쏘여서 기절했어요
5839   10479  KETI_SL_0000010479.MTS              무릎 인대를 다친 것 같아요
3130   10480  KETI_SL_0000010480.MTS          엄마가 신장병에 있는데 쓰러지셨어요

[10480 rows x 3 columns]